:root {
  --design-width: 360;
  --design-height: 640;
  --aspect-ratio: calc(var(--design-width) / var(--design-height));
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: transparent;
}

/* 배경색 */
html,
body {
  background-color: rgba(39, 5, 46, 0.7);
  font-family: "Galmuri9", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: auto;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* max-width: clamp(344px, 100vw, 412px); */
}

/* 비율 유지하는 반응형 래퍼 */
.app-wrapper {
  width: 100%; /* 전체 너비 100%로 설정 */
  height: 100%; /* 전체 화면을 채우도록 설정 */
  min-width: min(calc(var(--design-width) / var(--design-height) * 100vh), 100vw);
  /* height: calc(100 * var(--custom-vh)); */
  max-width: 430px;
  max-height: 100dvh;
  /* overflow: auto;  */
  position: relative;
}

body {
  margin: 0;
  font-family: "Galmuri9", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Galmuri7";
  src: url("./assets/fonts/Galmuri7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Galmuri9";
  src: url("./assets/fonts/Galmuri9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 스크롤바 기본 스타일 */
::-webkit-scrollbar {
  width: 0.5vh;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b2975c;
  border-radius: 1vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b6b3e;
}
